params {
    // load R module
    R = "r/4.4.1"
    bamtools = "bamtools/2.5.2--hd03093a_0"
    blast = "blast/2.12.0--pl5262h3289130_0"

    // general params
    outdir = "results"
    sample_id = "Galaxias_lanceolatus_1527641"
    samplesheet = "$projectDir/assets/samplesheet.csv"

    // does our sample have hi-c data? default to true
    hic_data = true

    // hifiadapterfilt - toggle and parameters
    hifiadapterfilt = false
    hifiadapterfilt_path = "/software/projects/pawsey1132/atims/HiFiAdapterFilt"
    hifiadapterfilt_l = 25
    hifiadapterfilt_m = 97

    // read_length_distributions - toggle
    read_length_summary = false
}

// enable reporting
//dag.enabled = true
//report.enabled = true
//timeline.enabled = true
//trace.enabled = true


profiles {

    pawsey {

        params {
            config_profile_description = 'Pawsey Setonix HPC profile provided by nf-core/configs'
            config_profile_contact     = 'Sarah Beecroft (@SarahBeecroft), Georgie Samaha (@georgiesamaha)'
            config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'
            max_cpus                   = 64
            max_memory                 = 230.GB
        }

        // Enable use of Singularity to run containers
        singularity {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
        }

        // Submit up to 1024 concurrent jobs
        executor {
            queueSize = 1024
        }

        // Define process resource limits
        // See: https://support.pawsey.org.au/documentation/pages/viewpage.action?pageId=121479736#RunningJobsonSetonix-Overview
        process {
            resourceLimits = [
                memory: 230.GB,
                cpus: 64
            ]
            executor       = 'slurm'
            clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}"
            module         = 'singularity/4.1.0-slurm'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue = { task.memory <= 230.GB ? 'work' : 'highmem' }
            
            withName: JSON_TO_TSV {
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }

            withName: DOWNLOAD_FILE_PACBIO {
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }

            withName: DOWNLOAD_FILE_HIC {
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }

            withName: HIFIADAPTERFILT {
                cpus = 8
                memory = 16.GB
                time = '2h'
            }

            withName: READ_LENGTH_SUMMARY {
                container = 'depot.galaxyproject.org/singularity/samtools-1.17--h00cdaf9_0'
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }

            withName: PLOT_READ_LENGTHS {
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }

            withName: CONCAT_AND_ZIP {
                cpus = 8
                memory = 8.GB
                time = '2h'
                queue = 'copy'
            }

            withName: CREATE_CONFIG_FILE {
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }
        }
    }
}            